[2016-01-06 11:14] pr4bh4sh opened #1 "Runs on only 2 devices + reports folder name"
Hi @saikrishna321
I'm trying to integrate your repo with my setup. However while running the this code base as is on my system i found these things
1. Test runs on only 2 device:- I have 2 emulators and 1 real device and the test only run on two of the device, ie. on both emulator or one emulator and on real device.
2. The report folder structure has variable as folder name
![image](https://cloud.

[2016-01-06 11:57] pr4bh4sh commented on #1
Excerpt of the log where it starts the execution.
[code]

[2016-01-06 12:10] saikrishna321 commented on #1
@pr4bh4sh hey thanks for giving it a try .

Can you please take a pull and try out.. I actually had only 2 tests and you have 3 devices..

Now i have added an other test, try that out ..  You must open ExtentReports.html

[2016-01-06 13:01] pr4bh4sh commented on #1
Oh, I thought you are running the thread based on the number of device connected, rather than the no of tests you have.
I tried with latest version and it's working now.
And yes ExtentReport is awesome, I've been using it quite some times.
:+1:

[2016-01-06 13:38] saikrishna321 commented on #1
@pr4bh4sh thats kool .. if u set the RUNNER to parallel then its gonna to run all your tests on each device.

It would be help-full if u can write some more tests and a pull-request

[2016-01-06 13:56] saikrishna321 commented on #1
@pr4bh4sh  take a look at this, i have more updates to this ..

https://github.com/saikrishna321/AppiumTestDistribution

Have support for selendroid mode and web parallel as well..

[2016-01-06 15:54] #1 closed

[2016-01-06 18:17] pr4bh4sh commented on #1
Yes i came here from that repo.
And yes I'll try contributing directly via code.(Just moved from SVN ,GIT is very new to me)

[2016-01-07 05:07] saikrishna321 commented on #1
@pr4bh4sh thanks :+1:

[2016-04-19 01:20] wv1124 opened #2 "Cannot run program "idevice_id""
Running com.appium.tests.Runner
Configuring TestNG with: org.apache.maven.surefire.testng.conf.TestNG652Configurator@12f40c25
creating directory: Logs
🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺
No Device Connected
🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺
java.io.IOException: Cannot run program "idevice_id": error=2, No such file or directory
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)
	at java.lang.Runtime.exec(Runtime.java:620)
	at java

[2016-04-19 02:04] saikrishna321 commented on #2
This framework triggers your test in parallel across iOS and Android, so fetch if iOS devices are connected we use library idevice

You need to install brew install ideviceinstaller on your Mac

[2016-05-09 08:57] #2 closed

[2016-05-19 15:10] rajamobiletech opened #3 "I got UnsupportedClassVersionError"
Hi,

When run my test case on my machine it throwing error like this,

T E S T S
-------------------------------------------------------
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.39 sec <<< FAILURE!
testRunner(com.appium.tests.Runner)  Time elapsed: 0.013 sec  <<< FAILURE!
java.lang.UnsupportedCl

[2016-05-19 15:20] saikrishna321 commented on #3
Please make sure u have Java 1.8

[2016-05-19 15:24] rajamobiletech commented on #3
ya.. i'm using java 1.8

[2016-05-19 17:16] rajamobiletech commented on #3
I fixed this issue.. Issue with my java8. Thanks for your quick reply sai.

When i run my test case i got like this.

------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
creating directory: Logs
creating directory: ADBLogs
Android 192.168.56.101:5555

[2016-05-19 17:58] saikrishna321 commented on #3
How r u running the project ? If command line pls give the command ?

[2016-05-19 18:00] rajamobiletech commented on #3
mvn clean -Dtest=Runner test

just i'm running this command

[2016-05-20 03:04] saikrishna321 commented on #3
Can u pls paste your config.properties ? Just wanted to make sure u have the right Appium js path n other properties set ...

[2016-05-20 04:41] rajamobiletech commented on #3
This is my config.properties.

ANDROID_APP_PATH=/Users/rajaduraisamy/Desktop/PageObjectPatternAppium-master/build/wordpress.apk
APP_PACKAGE=org.wordpress.android
APP_ACTIVITY=org.wordpress.android.ui.WPLaunchActivity
RUNNER=distribute
APPIUM_JS_PATH=/Users/rajaduraisamy/appium-master/libmain.js
BROWSER_TYPE=chrome
APP_TYPE=NA
FRAMEWORK=cucumber

[2016-05-20 04:41] #3 closed

[2016-05-20 04:48] rajamobiletech commented on #3
This is my config.properties file.

ANDROID_APP_PATH=/Users/rajaduraisamy/Desktop/PageObjectPatternAppium-master/build/wordpress.apk
APP_PACKAGE=org.wordpress.android
APP_ACTIVITY=org.wordpress.android.ui.WPLaunchActivity
RUNNER=distribute
APPIUM_JS_PATH=/Users/rajaduraisamy/appium-master/lib/main.js
BROWSER_TYPE=chrome
APP_TYPE=NA
FRAMEWORK=cucumber

[2016-05-20 06:24] saikrishna321 commented on #3
@rajamobiletech please change the FRAMEWORK=testng and give it a try ..

As you have closed the issue i'm assuming the issue is fixed

[2016-06-08 13:25] vikramvi opened #4 "Read me - updates needed"
Please add below link; in case someone getting error post importing maven project in Eclipse

http://stackoverflow.com/questions/6352208/how-to-solve-plugin-execution-not-covered-by-lifecycle-configuration-for-sprin

Thanks & Regards,
Vikram

[2016-06-08 13:29] saikrishna321 commented on #4
@vikramvi thanks  ... will do that ...

Just a quick one.. w.r.t serenity: As i know we need to provide the appium caps in a properties file including the remotehost and port .. how does @AppiumTestDistribution work with this ?

[2016-06-08 14:15] vikramvi commented on #4
@saikrishna321 I'm still yet to figure out how to use Serenity + Appium.
It's new to me ( though am using Serenity for web automation extensively ) .

I was using appium with Ruby with in house framework. But for new project , will be using Java thus trying to find out best solution available.

One suggestion , why don't you guys merge this awesome project with Serenity. Just curious to know any r

[2016-06-08 14:33] saikrishna321 commented on #4
I haven't used serenity before, off-late I have heard a lot of them talk about serenity..... as I saw u in serenity organisation thought u would help on integrating this with serenity.....

[2016-06-08 14:42] vikramvi commented on #4
I'm helping with maintaining demo projects upto date and bug free for the new users and supporting on email group. But not yet committing to core project.

Can you please ask & propose the integration idea to John ( owner of Serenity ) , his email id http://www.wakaleo.com/about-us/contact-us

Thanks,
Vikram

[2016-06-08 15:24] vikramvi opened #5 "Error testRunner(com.appium.tests.Runner) not able to run sample project"
After running command mvn clean -Dtest=Runner test , getting below error.

I did few changes to remove compilation errors in forked repo's branch https://github.com/vikramvi/PageObjectPatternAppium/tree/vikramvi/bug_fixes

I have an android emulator and android physical devices connected to Mac.

Please check , I tried to look into code but not yet understood it completely.

` Running com.appium.t

[2016-06-08 15:25] vikramvi commented on #5
`vikrams-mbp:PageObjectPatternAppium vikram-anna$ mvn clean -e -Dtest=Runner test
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building PagePatternAppium 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[WARNING] The POM for com.rele

[2016-06-08 15:32] saikrishna321 commented on #5
@vikramvi  as part of 4.0.2 i added the com.relevantcodes:extentreports:jar:2.41.0-SNAPSHOT in the tagged v4.0.2. my bad

as you have added in your pom.xml thats the fix for now.. In the master i have updated it...

[2016-06-08 15:57] vikramvi commented on #5
@saikrishna321  Just to clarify the failure is in my branch itself even after adding entry for extentreports in pom.xml.

Did you mean I need to remove this and update version of framework with fix ?

[2016-06-08 16:00] saikrishna321 commented on #5
@vikramvi can you try with the below dependency, if you still have issues please add me on gitter/skype(sai.krishna560)

[code]

[2016-06-08 16:27] saikrishna321 commented on #4
@vikramvi i came across this repo, i guess with this sample i see AppiumTestDistribution can be integrated https://github.com/mvitiuk/serenity-appium-test-example

i saw your comments on the issues tab. Need some help on it.

[2016-06-09 10:06] sam-viz opened #6 "Error while executing mvn clean -Dtest=Runner test"
Hello,

I wanted to execute this project to get a look on an example using the AppiumTestDistribution. However, i got the following error while running '''mvn clean -Dtest=Runner test''' .
Failure to find com.relevantcodes:extentreports:jar:2.41.0-SNAPSHOT in https://jitpack.io was cached in the local repository, resolution will not be reattempted until the update interval of jitpack.io has elapse

[2016-06-09 10:22] saikrishna321 commented on #6
@sam-viz can you please add this to the pom.xml

[code]

[2016-06-09 11:13] sam-viz commented on #6
Many thanks !

[2016-06-09 11:13] #6 closed

[2016-06-17 13:43] rajamobiletech commented on #5
@saikrishna321 Even i am facing the same issue.

`-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
creating directory: Logs
creating directory: ADBLogs
Android 192.168.56.101:5555 Directory is created!
Total Number of devices detected::1
starting

[2016-06-18 13:47] saikrishna321 commented on #5
@rajamobiletech can you please change the FRAMEWORK=testng in config file

[2016-06-18 13:47] #5 closed

[2016-07-18 10:42] vannamaneni opened #8 "Unable to run on iOS device"
Hi,

Android tests went well. However, facing issues on iOS device. here is the log.

Setting iOS Desired Capabilities:
log4j:WARN No appenders could be found for logger (org.apache.http.client.protocol.RequestAddCookies).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
[HTTP] --> POST /wd/hub/session {"des

[2016-07-18 11:32] saikrishna321 commented on #8
@vannamaneni you need to send the below values in the config.properties

BUNDLE_ID=
IOS_APP_PATH=<absolute path to .app/.ipa>

[2016-07-18 11:34] rajamobiletech opened #9 "Error while executing mvn clean -Dtest=RunnerCukes test"
Hi Sai,

Just i want to excute cucumber based testcase using the AppiumTestDistribution. However, I got the following error while running command "mvn clean -Dtest=RunnerCukes test".

Thanks,

[2016-07-18 11:44] saikrishna321 commented on #9
@rajamobiletech r u running it as junit or testng ?

[2016-07-18 11:47] rajamobiletech commented on #9
@saikrishna321  testng

[2016-07-18 11:50] saikrishna321 commented on #9
@rajamobiletech

https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/src/test/java/com/appium/steps/RunnerCukes.java#L4

pls change the import to testng
https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/src/test/java/com/appium/steps/RunnerCukes.java#L4

[2016-07-18 12:04] rajamobiletech commented on #9
@saikrishna321 Already imported` import org.junit.Test;` in my project

And config,

BROWSER_TYPE=chrome
APP_TYPE=NA
RUNNER=parallel
FRAMEWORK=testng
MAX_RETRY_COUNT=1

I'm getting same error,

[2016-07-18 13:21] saikrishna321 commented on #9
In the config file change the FRAMEWORK=cucumber

[2016-07-18 13:38] vannamaneni commented on #8
Thanks for quick reply.. realised my fault.
Fixed the issue by providing relevant info as mentioned above. Tried with the same wordpress.app. again into trouble .. Unable to install the same on device..

How to get wordpress.ipa with debug key ?

[2016-07-18 13:45] priyankshah217 commented on #8
Hey, how did u generate IPA, without developer  cert?

On Mon, Jul 18, 2016, 7:08 PM Venkat <notifications@github.com> wrote:

[2016-07-18 13:49] vannamaneni commented on #8
Oh..ok, This is to run scripts on the sample wordpress app.
Basically, I wanted to run same scripts provided in sample (on iOS device).

[2016-07-18 13:51] priyankshah217 commented on #8
This will run only on iPhone emulator, to make it work on device, your
developer need to build it using their debug certificate.

On Mon, Jul 18, 2016, 7:19 PM Venkat <notifications@github.com> wrote:

[2016-07-19 01:25] rajamobiletech commented on #9
Still i'm facing same issue.

[2016-07-19 03:02] saikrishna321 commented on #9
Can u pls share your pom.xml ?

Did u take a look at the WiKi

[2016-07-19 05:14] rajamobiletech commented on #9
I have attached my pom.xml

` <dependencies>
        <dependency>
            <groupId>io.appium</groupId>
            <artifactId>java-client</artifactId>
            <version>3.4.1</version>
        </dependency>
        <dependency>
            <groupId>junit</groupId>
            <artifactId>junit</artifactId>
            <version>4.12</version>
        </dependency>
        <dependency>

[2016-07-19 05:25] saikrishna321 commented on #9
Can u pls refer pom.xml in this project.  .. that's how Ur pom.xml should like ...

[2016-07-19 14:44] vikramvi opened #10 "tests are getting skipped randomly"
Hey @saikrishna321 ,

Today I observed this weird issue where tests are getting skipped randomly.

I'm running test cases in "distribution" mode on 2 android emulators

1st Run ---
SKIPPED: loginWithValidUser on [MultiLoginTest passed=0 failed=0 skipped=0]
SKIPPED: webTest on [WebTest passed=0 failed=0 skipped=0]
SKIPPED: deleteTheCreatedPost on [WritePostTest passed=0 failed=0 skipped=0]
SKIPPED:

[2016-07-19 14:57] vikramvi commented on #10
same issue observed in "parallel" mode of execution as well.

[2016-07-19 18:03] saikrishna321 commented on #10
What is the error stack say ?

[2016-07-20 09:11] vikramvi commented on #10
https://gist.github.com/vikramvi/c74f4f5214fa4cd2a803e32b89a1153c

[2016-07-20 13:46] vikramvi commented on #10
some more observations from logs

1.  parallel mode  <<<<<<<

[ThreadUtil] Starting executor timeOut:2147483647ms workers:2 threadPoolSize:2
Parallel Thread is::Thread_0
Parallel Thread is::Thread_0
Parallel Thread is::Thread_1
AndroidSDKbuiltforx86_Android
/Users/vikram-anna/Documents/workspace/PageObjectPatternAppium
AndroidSDKbuiltforx86_Android
Not taking ExtendReporting

Parallel Thread is::T

[2016-07-20 15:34] saikrishna321 commented on #10
@vikramvi this is just for debugging purpose i had this initially, i will be cleaning up the code soon.

https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumParallelTest.java#L107

A.2.2 There are exact nodes starting as per devices, its just print inside the loop shows the already existing thread.

A2.3. You didn't see Parallel Thread is::Thr

[2016-07-21 08:40] vikramvi commented on #10
Thanks @saikrishna321 I'm looking into source code and trying to understand what's going on exactly.

Did you find out from logs , why some tests cases are randomly skipped ?

can you do something from my end to pin point root cause of issue ?

[2016-07-26 07:44] ansonliao opened #12 "Get NoSuchMethodError error while run cucumber test framework"
Hi @saikrishna321 ,
I created my cucumber test feature and test steps in java, and run the feature and test steps succeeded, but fail at final in HtmlReporter.generateReports().

the error message please check below.

[code]

I can succeed to run this github sample project in cucumber framework, but fail in at my test cases.

and AppiumTestDistribution version same as sample project "PageObjectPat

[2016-07-26 09:49] saikrishna321 commented on #12
@ansonliao can you add this to pom.xml n try

<dependency>
    <groupId>org.apache.commons</groupId>
    <artifactId>commons-lang3</artifactId>
    <version>3.4</version>
</dependency>

[2016-07-26 09:51] ansonliao commented on #12
@saikrishna321
I fixed the problem by add dependency of commons-lang3, version 3.4, it is strange.

thanks for your reply.

[2016-07-26 09:52] saikrishna321 commented on #12
i will add this to the dependency pom..

[2016-07-26 09:52] #12 closed

[2016-07-27 17:09] dkjha52 opened #13 "Getting exception after script completion"
FAILED: testRunner
java.lang.NullPointerException
at com.appium.utils.ImageUtils.creatResultsSet(ImageUtils.java:63)
at com.appium.executor.MyTestExecutor.runMethodParallelAppium(MyTestExecutor.java:165)
at com.appium.manager.ParallelThread.parallelExecution(ParallelThread.java:133)
at com.appium.manager.ParallelThread.triggerTest(ParallelThread.java:66)
at com.appium.manager.ParallelThread.runner

[2016-07-28 06:58] #8 closed

[2016-07-29 05:20] vannamaneni commented on #8
Worked as expected with my own app on iOS.
Thanks.

[2016-07-29 05:47] saikrishna321 commented on #8
@vannamaneni Awesome 👍

[2016-08-05 09:06] ansonliao opened #14 "Question: How to implement add MobileElement a description annotation"
Hi @saikrishna321
I would like to make extentreport more detail in test step/operation.

I created a annotation name `@ElementDescription` for `MobileElement`, and in `page` class, log the mobile element's description to extentreport.

for example, for this repository project `PageObjectPatternAppium`, the page class `LoginPage.java`, and page object `LoginPageObjects.java`:

Add `@ElementDescript

[2016-08-05 09:19] saikrishna321 commented on #14
@ansonliao can you please share the code snippet for @MobileDescription, will surely take a look.. This looks like a kool feature and should be part of the AppiumTestDistribution

[2016-08-05 09:41] ansonliao commented on #14
@saikrishna321
Actually, the code to define `@MobileDescription` is very simple, please check below:

[code]

In my further idea, should have another annotation for Page named `@PageName`, so that look like this:

[code]

`@MobileDescription ` should be used like below, remove page description will be more simple:

[code]

after retrieve `@PageName` and `@ElementDescription`, the completed mobile

[2016-08-05 09:58] ansonliao commented on #14
@saikrishna321
I tried to extend `MobileElement` for add a new attribute named `elementDescription` in String, but fail.

[code]

[2016-08-05 11:53] saikrishna321 commented on #14
@ansonliao this looks awesome.. will you able to push these changes to your repo i can fork and take a look .. this is good to have feature 👍

[2016-08-05 14:07] ansonliao commented on #14
@saikrishna321
thanks for your reply.
I will let you know the repo after I push.

[2016-08-06 15:15] ansonliao commented on #14
@saikrishna321
I push the code to my repo, please check it via the link below.
https://github.com/ansonliao/PageObjectPatternAppium

please run the project in TestNG framework by command:

[code]

1. Please note on package `com.example.custom`, I created some annotations on this package: `@ElementDescription`, `@PageName`, `@Author`, `@Description` of test class.

2. I added annotation `@ElementDe

[2016-08-06 15:27] ansonliao commented on #14
@saikrishna321

Please note on package com.example.custom, the classes `CustomAppiumParallelTest.java`, `CustomMyTestExecutor.java`, `CustomParallelThread.java`.

In my project, I never use `AppiumTestDistribution.jar` classes `AppiumParallelTest.java`, `MyTestExecutor.java`, `ParallelThread.java`, the reason is I need to attach JENKINS URI in test of Appium, log of ADB, failure screenshot in JENK

[2016-08-06 17:40] saikrishna321 commented on #14
@ansonliao thanks for the code snippet will take a look and i will try merging it within the repo..

@akhilbojedla did mention that he has started to work on the JENKINS_BASE_URI path in the report ..

@akhilbojedla any updates?

[2016-08-07 15:33] saikrishna321 commented on #14
@ansonliao i have a solution for

i'm merging this with master, need a day for it.... So now if the user adds @ElementDescription for any MobileElement then it will log to the report, you don't have to add any more changes to the CommonClass..

And i still don't see the use of Description and Author as there is no logging happening. You have it on purpose?

[2016-08-08 00:57] ansonliao commented on #14
@saikrishna321,
I added @Author to test case method, please check test case method of DemoTest.java, also I added assigned test case scripting' s author in extent report in UserBaseTest.java, but it seem that after author assigned in extentreport, can't found author information in extentreport the test generated.

Also for @Description, my purpose is add test description for test class, for exampl

[2016-08-09 07:39] saikrishna321 commented on #14
@ansonliao check the screens below. You can filter the test with Author now. Does this look good??

<img width="1437" alt="screen shot 2016-08-09 at 1 09 59 pm" src="https://cloud.githubusercontent.com/assets/4045041/17508395/657795b0-5e32-11e6-8fff-d5216f10f825.png">
<img width="1007" alt="screen shot 2016-08-09 at 1 10 08 pm" src="https://cloud.githubusercontent.com/assets/4045041/17508402/6c067

[2016-08-09 07:53] ansonliao commented on #14
@saikrishna321
Hi Saik, do you add author as "Group" of extentreport?

it is no problem to me, thanks for your great work on it.

Actually, why I added author because more QA will join appium scripting in my company (I am automation team, not QA team), and we are expect that when we are review the extentreport can very easy to identify the script's author, and the let the author to check wether in

[2016-08-09 08:24] saikrishna321 commented on #14
@ansonliao i have added it under the category, so that u can filter the tests as in which author it belongs to.

What is going wrong when u add the JENKINS_URL to screenshot? I see in the screenshot u attached the image is not loaded

[2016-08-09 08:26] ansonliao commented on #14
@saikrishna321

For JENKINS_URL, my screenshot just a demonstration, as I completed the code in home, last weekend (my home's Mac, no local Jenkins set).

[2016-08-09 09:57] saikrishna321 commented on #14
Will u able to see PR for Jenkins URL ?

[2016-08-09 10:29] ansonliao commented on #14
@saikrishna321
sorry, what it is "PR"?

[2016-08-09 10:45] saikrishna321 commented on #14
@ansonliao pull request :)

[2016-08-09 10:48] ansonliao commented on #14
@saikrishna321
below is my adb log in Jenkins for review.
in this example,
the completed adblog url is "http://192.168.3.100/job/wispi-android-appium-ui-tests/ws/target/appiumlogs/110e96bc__DebugTest.txt"

the JENKINS_BASE_URI should be "http://192.168.3.100/job/wispi-android-appium-ui-tests/ws", because this link is appium test project root directory in Jenkins workspace.

![image](https://cloud.

[2016-08-09 10:55] ansonliao commented on #14
@saikrishna321
what is the PR of Jenkins URL?
you means that, check the appium test project source code from VC system by Jenkins?

[2016-08-09 11:03] saikrishna321 commented on #14
@ansonliao no

If this is the reason for you not to use the AppiumTestDistribution dependency then why don't you send a pull request with the changes you have done for JENKINS_URL_PATH in you fork.

[2016-08-09 11:06] ansonliao commented on #14
@saikrishna321
I used AppiumTestDistribution dependency in my appium parallel project, but I am not use those three classes AppiumParallelTest.java, MyTestExecutor.java, ParallelThread.java of AppiumTestDistribution dependency.

[2016-08-09 12:51] saikrishna321 commented on #14
Any reason for not using those classes ?

[2016-08-09 13:22] ansonliao commented on #14
@saikrishna321
As described I raised up: https://github.com/saikrishna321/AppiumTestDistribution/issues/82

As I need to present `test log txt` and `screenshot` in Jenkins, so I found that, log `test log txt` and `screenshot` in ExtentReport, the code is in class [AppiumParallelTest.java](https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumPar

[2016-08-09 13:39] ansonliao commented on #14
@saikrishna321
I also hope that have others good solution to support my Jenkins URL case, as I created those three classes, I can't keep my AppiumTestDistribution dependency update, as I used the latest AppiumTestDistribution dependency before, I have to check those three classes AppiumParallelTest.java, MyTestExecutor.java, ParallelThread.java whether have the code updated, so that my three custo

[2016-08-09 15:16] saikrishna321 commented on #14
Okays.... keeping it simple, you have pulled these classes because of JENKINS remote URL config ... if yes, then I can work on it ... so that you can always have the master code...

[2016-08-09 15:27] ansonliao commented on #14
@saikrishna321
As I hope that AppiumTestDistribution dependency will support this CI system URL feature, because maybe others user of AppiumTestDistribution have other CI system to run the test project.

Also, I think Appium is a automation test tool for mobile, and it is very great that @saikrishna321 you are distribute a parallel mode in real device in Appium, so as a automation test tool, run t

[2016-08-11 07:31] saikrishna321 commented on #14
@ansonliao i will fix this as well part if this push

[2016-08-11 12:54] saikrishna321 commented on #14
https://github.com/saikrishna321/AppiumTestDistribution/issues/82

i have made all the changes required, try to execute from master n see if things work as expected

[2016-08-15 12:19] ansonliao commented on #14
@saikrishna321
thanks for your work, as vacation days, I will check the latest version of AppiumTestDistribution soon.

[2016-08-16 07:38] nazim2584 commented on #2
Hello Sai,

I am also getting same error on mac machine. I am using following configurations:
OS X: 10.9.5
Xcode: 6.3.1
And i executed this command "brew install libimobiledevice libplist libtasn1 usbmuxd openssl ideviceinstaller" and showing all are already installed. Please suggest me some solutiins.

[2016-08-16 08:06] saikrishna321 commented on #2
@nazim2584 are your running your tests from command line or eclipse?

[2016-08-16 08:37] nazim2584 commented on #2
From eclipse using testng...

[2016-08-16 08:45] saikrishna321 commented on #2
@nazim2584 you need to set PATH in eclipse under environment. This will work fine in intellji

https://cloud.githubusercontent.com/assets/4045041/12191064/04580240-b5f6-11e5-8608-bd6145a862ef.png

[2016-08-16 10:06] nazim2584 commented on #2
@saikrishna321  Thanks Sai.. I tried to set the path for eclipse but still it is not working..

[2016-08-16 10:09] saikrishna321 commented on #2
Can u pls share screenshot ?

[2016-08-16 10:16] nazim2584 commented on #2
Find the scrrenshot for path...
![image](https://cloud.githubusercontent.com/assets/21053701/17695897/72df6bec-63c8-11e6-80fe-9858869f9872.png)
For Error:
![image](https://cloud.githubusercontent.com/assets/21053701/17695922/8d6fa210-63c8-11e6-82c5-56a8cf5846dc.png)

[2016-08-16 11:05] saikrishna321 commented on #2
@nazim2584 you have set just the ANDROID_HOME u need to set PATH
https://cloud.githubusercontent.com/assets/4927589/10269824/c6ddb42a-6ae9-11e5-822f-3d361b5a5e34.png

[2016-08-16 11:45] nazim2584 commented on #2
Thank u so much...
Hurray!!... Now it's working....

[2016-08-18 09:56] saikrishna321 commented on #14
@ansonliao sample test to log description and PageName

https://github.com/saikrishna321/PageObjectPatternAppium/blob/df85093d9adaaeb459268015269b544ba30b0772/src/test/java/com/appium/pages/LoginPage.java#L41

[2016-08-18 09:56] #14 closed

[2016-08-19 09:02] ansonliao commented on #14
@saikrishna321
apology for late validation on the CI_BASE_URL added in `config.properties`, it works.
by the way, I saw Extentreport's author replied, extentreport will be support related path of the screenshot or text, so CI_BASE_URL will be removed from `config.properties`, right?

I would like to know, AppiumTestDistribution, when will be updated to support related path version of extentreport?

[2016-08-19 09:18] ansonliao commented on #14
@saikrishna321
thanks for your work on mobile element description.

I would like to know, for your solution, can add the logging step of extentreport in the class `CommonAppiumTest.java`?

for example, the snip of `CommonAppiumTest .java`:

[code]

for current solution, looks like is not common.

[2016-08-19 09:43] saikrishna321 commented on #14
@ansonliao

Once extentreport has v3 release, currently they are beta

you above solution looks good.. Will make changes ..

[2016-08-29 04:18] ansonliao commented on #14
@saikrishna321
Hope can hear good news from you soon.

by the way, for `PageObjectPatternAppium` project, the cucumber test always run in fail, could you advise which commit is works in cucumber framework?

[2016-08-29 12:18] nazim2584 commented on #2
Hello Sai,
I am getting this exception while executing this framework in IOS io.appium.java_client.service.local.AppiumServerHasNotBeenStartedLocallyException:
![screen shot 2016-08-29 at 5 46 51 pm](https://cloud.githubusercontent.com/assets/21053701/18051202/b684cdf4-6e10-11e6-894a-75dd70f827a6.png)

[2016-08-29 12:30] saikrishna321 commented on #2
@nazim2584 pls check if the appium server path is correct

[2016-08-29 12:45] nazim2584 commented on #2
I have checked the path and it is correct:-
/Applications/Appium.app/Contents/Resources/node_modules/appium/build/lib/main.js

[2016-08-29 12:54] saikrishna321 commented on #2
can u install appium through node n replace the location

[2016-08-29 13:18] nazim2584 commented on #2
Thanks @saikrishna321 I will try to install appium through node but  have a one question.
Should i need to uninstall the existing appium.app?
Sample code:
AppiumServiceBuilder builder = new AppiumServiceBuilder()
		.usingDriverExecutable(new File("/usr/local/bin/node"))
        .withAppiumJS(new File("/Applications/Appium.app/Contents/Resources/node_modules/appium/build/lib/main.js"))
        .wit

[2016-08-30 10:56] nazim2584 commented on #2
@saikrishna321, I resolved it. Just need to add the parameter as ipAddress i.e 127.0.01:4723
It is not working with default ip 0.0.0.04723.
AppiumServiceBuilder builder = new AppiumServiceBuilder()
		.usingDriverExecutable(new File("/usr/local/bin/node"))
       .withAppiumJS(new File("/usr/local/lib/node_modules/appium/build/lib/main.js"))
        .withArgument(GeneralServerFlag.LOG_LEVEL, "info"

[2016-09-05 17:46] shaynl commented on #14
@ansonliao
This is a good improvement that I'm now try to implement in my code and looking for a simple way to get the ElemetDescription. Can you please share the function getPageObjectElemetDescription(mobileElement)?

[2016-09-07 07:29] ansonliao commented on #14
@shaynl
I no `getPageObjectElemetDescription(mobileElement)` method's implementation, you can discuss with @saikrishna321 for more details, and this method provided by him.

[2016-09-07 07:45] saikrishna321 commented on #14
@shaynl you can find the method here
https://github.com/saikrishna321/PageObjectPatternAppium/blob/df85093d9adaaeb459268015269b544ba30b0772/src/test/java/com/appium/config/CommonAppiumTest.java#L121

[2016-09-07 08:10] shaynl commented on #14
@saikrishna321
Is there a simple way to get just ElemetDescription (without PageName) directly from the mobileElement?

[2016-09-30 11:54] sapins opened #15 "No marketplace entries found to handle cucumber-jvm-parallel-plugin:2.0.9:generateRunners"
No marketplace entries found to handle cucumber-jvm-parallel-plugin:2.0.9:generateRunners

[2016-10-18 05:11] gaurabhi1986 opened #16 "How can I run mobile web app test parallel using this framework?"
Hi,

I need to execute my mobile web app test on multiple devices.

Can you please help me for below queries:
- How can I use this framework to execute my mobile web test parallel ?
- How can I run my test on remotely hosted devices ?

Thanks,
Abhishek Gaur

[2016-10-22 19:08] saikrishna321 commented on #16
https://github.com/saikrishna321/AppiumTestDistribution/issues/122

[2016-10-22 19:08] #16 closed

[2016-11-11 16:16] vikramvi opened #18 "READ.me needs more info"
Please add below info as well

1. ANDROID_HOME should be set
2. EMULATOR/s should be up and running OR connected devices
3. appium should be installed with npm

[2016-11-11 16:21] vikramvi opened #19 "Tests running but console is showing consistent error"
I've 2 emulators and tests are running in distribute mode but am seeing consistent error

java.io.IOException: Cannot run program "idevice_id": error=2, No such file or directory

Is there some setting missing from my side ?

Thanks,
Vikram

[2016-11-11 16:25] saikrishna321 commented on #18
@vikramvi thought these are the basics setup which users will be aware.. If needed pls raise a PR .

Would help

[2016-11-11 16:26] saikrishna321 commented on #19
brew install ideviceinstaller

[2016-11-14 09:25] vikramvi commented on #19
isn't ideviceinstaller is for iOS device only, please clarify why is this resulting in failures on Android emulators ?

[2016-11-14 09:30] saikrishna321 commented on #19
@vikramvi this is a bug

https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/ParallelThread.java#L101

To tell the framework that its only Android app your going to run the tests we need to just give ANDROID_APP_PATH and remove IOS_APP_PATH from config.properties and have a check in this line

https://github.com/saikrishna321/AppiumTestDistribution/

[2016-11-14 09:52] vikramvi commented on #18
done. I had given the project to an engineer new to Appium and he came across doubts. Which I felt should be clarified in READ.me in as detailed manner as possible.

Please review and merge

[2016-11-14 10:16] saikrishna321 commented on #18
@vikramvi this project has all basic setup

https://github.com/saikrishna321/VodQa_MobileAutomationWorkShop

[2016-11-14 10:23] vikramvi commented on #19
Thanks for quick debugging

prop.getProperty("IOS_APP_PATH") != null

check should be sufficient I think

[2016-11-14 19:16] vikramvi opened #21 "Error while trying to run single test case under LoginTest.java"
Hey Sai,

I tried running single test case loginWithValidUser but getting below error

Eclipse configuration is matching as per https://github.com/saikrishna321/AppiumTestDistribution/issues/7

Is this error because of missing iOS device check ?

https://github.com/saikrishna321/PageObjectPatternAppium/issues/19

Adding iOS devices
Adding Android devices
{emulator-5554=true}
[TestNG] Running:
  /p

[2016-11-15 05:04] saikrishna321 commented on #21
@vikramvi this framework extends to AppiumParallelTest and for the same the entry point is the Runner class which created a instance of ParallelThread.

If you want to run a single method for debugging pls extent the class to Utils.java

[2016-11-15 05:04] #21 closed

[2016-11-22 10:09] atsiarenia opened #23 "org.testng.TestNGException: Parameter 'device' is required by @Configuration on method startAppiumServer but has not been marked @Optional or defined"
When I try to run ANY test I have error "org.testng.TestNGException:
Parameter 'device' is required by @Configuration on method startAppiumServer but has not been marked @Optional or defined"

Where and how I must specify Parameter 'device'?

[2016-11-22 11:32] saikrishna321 commented on #23
@atsiarenia r u trying to run the tests parallel or just single test from any IDE/ commandline

[2016-11-22 12:02] atsiarenia commented on #23
I try ti run single test(for example LoginTest from package tests)  from ide(intellij idea).

In my config file I have: RUNNER=distribute

[2016-11-22 13:07] saikrishna321 commented on #23
https://github.com/saikrishna321/PageObjectPatternAppium/issues/21

[2016-12-07 17:41] asthasoni opened #24 "Getting Null Pointer Exception in parallelExecution(ParallelThread.java:122)"
First I would like to appropriate the effort, you have provided a solution for multiple device appium test execution.
I have connect One device and configured the project accordingly, there is no error in project.
Below is my Config.Properties file: [I am trying to run the android code first]
Please help me on that.
----------------------------------------------------------------------------------

[2016-12-12 13:43] dkjha52 opened #25 "cucumber test cases are not executing"
Set the below value in properties file -
FRAMEWORK=cucumber
Note  - use the same pom.xml conrents mention in the project

Getting below output -
------------------------
***************************************************

Total Number of devices detected::1

***************************************************

starting running tests in threads
Adding iOS devices
Adding Android devices
{emulator-5

[2016-12-12 16:19] saikrishna321 commented on #25
@dkjha52 can you share the config.properties

[2016-12-13 05:12] dkjha52 commented on #25
@saikrishna321 Here is conf properties file -
ANDROID_APP_PATH=/Users/admin/Documents/Automation/AppiumDistribution/build/wordpress.apk
APP_PACKAGE=org.wordpress.android
APP_ACTIVITY=org.wordpress.android.ui.WPLaunchActivity
RUNNER=parallel
APPIUM_JS_PATH=/Applications/Appium.app/Contents/Resources/node_modules/appium/build/lib/main.js
BROWSER_TYPE=chrome
APP_TYPE=NA
FRAMEWORK=cucumber
MONGODB_SER

[2016-12-13 05:22] saikrishna321 commented on #25
@dkjha52 can u confirm if there is output directory created under test root

[2016-12-13 05:50] dkjha52 commented on #25
@saikrishna321 No, Output is not creating under the test root. I can see parallelCucumber.xml created under target directory.

[2016-12-13 06:23] saikrishna321 commented on #25
@dkjha52 can you run the command mvn clean validate and check output folder is created

[2016-12-13 06:40] dkjha52 commented on #25
@saikrishna321 I ran the command "mvn clean validate" and executed successfully but output folder is not created

[2016-12-13 06:41] dkjha52 commented on #25
adminisatorsmbp:AppiumDistribution admin$ mvn clean validate
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building AppiumDistribution 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-clean-plugin:2.5:clean (default-clean) @ AppiumDistribution ---
[I

[2016-12-13 07:10] saikrishna321 commented on #25
i just checked and it generates the output folder with all runner files. Can you share your project

[2016-12-13 08:18] dkjha52 commented on #25
[AppiumDistribution.zip](https://github.com/saikrishna321/PageObjectPatternAppium/files/648284/AppiumDistribution.zip)
I am using the same example as you have mentioned. Please find the attachment.

[2016-12-13 16:34] saikrishna321 commented on #25
@dkjha52 please remove the <pluginManagement> </pluginManagement>  tag and make sure
<useTestNG>true</useTestNG> you also need to add AppiumParallelDistribution dependency. Refer the current project pom.xml

mvn clean validate will generate output folder with runner files

[2016-12-14 18:44] dkjha52 commented on #25
I tried the same (added the AppiumParallelDistribution dependency) but getting the same. Can you please let me know which maven version are you using. I am using maven 3.3.9 version with JDK8.

Here is error I am getting -
----------------------
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.19.1:test (default-test) on project PagePatternAppium: There are test fail

[2016-12-15 03:42] saikrishna321 commented on #25
@dkjha52  i have the same version of mvn and jdk 1.8, can u just clone this project and give it a try ?

[2016-12-15 06:17] dkjha52 commented on #25
@saikrishna321 I have cloned the project tried the same. Getting below error message with below configuration -

RUNNER=parallel
FRAMEWORK=cucumber
--------------------------------------------
Total Number of devices detected::2

***************************************************

starting running tests in threads
Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 2.091 sec <<< FAILU

[2017-01-27 12:46] SuperExpectation opened #26 "When run a single testcase an exception error(java.lang.ExceptionInInitializerError) show up"
ENV:
System: win8 64x
appium: 1.4.16
node: 6.9.4

Reproduction:
Try to run testcase loginWithInValidUser under Utils.java. The following error show up, if annotate 'logStepIntoExtentReport' under enterUserAndPassword function, it works as expectation.

java.io.IOException: Cannot run program "appium": CreateProcess error=2, The system cannot find the file specified
	at java.lang.ProcessBuilder.sta

[2017-01-27 12:56] SuperExpectation opened #27 "How to configure to run all testcase under loginTest.jav"
ENV:
System: win8 64x
appium: 1.4.16
node: 6.9.4

Configure:
![image](https://cloud.githubusercontent.com/assets/9590660/22371436/1611b6fa-e4d2-11e6-8885-eaf4514819c4.png)

![image](https://cloud.githubusercontent.com/assets/9590660/22371464/3657986c-e4d2-11e6-9d1f-b8d3e23a3fe9.png)

Reproduction:
Trigger loginTest, following error show up
![image](https://cloud.githubusercontent.com/assets/959066

[2017-03-17 11:43] prathimak opened #28 "Unable to run tests"
Hi,

I have downloaded the framework and trying to run tests on windows machine using below commands

To Run the TestNG test

* mvn clean -Dtest=Runner test
To Run the Cucumber test

* mvn clean -Dtest=RunnerCukes test

got below error

[ERROR] Plugin com.github.saikrishna321:cucumber-jvm-parallel-plugin:2.0.9 or on
e of its dependencies could not be resolved: Failed to read artifact descriptor
fo

[2017-03-17 12:13] saikrishna321 commented on #28
@prathimak make sure your not behind any proxy

[2017-03-17 12:15] saikrishna321 commented on #27
@SuperExpectation sorry for the delayed reply. You run directly the respect test as the ParallelThread class takes care of looking for devices n lot more. So you need to run from commandline

[2017-03-17 12:15] saikrishna321 commented on #26
@SuperExpectation make sure you have appium install from npm install -g appium

[2017-03-17 13:02] prathimak commented on #28
ok i tried now but unable to find APPIUM_JS_PATH on windows

[2017-04-24 11:53] Rajazpandi commented on #28
there are more than one main.js file which one should i use

[2017-05-03 14:03] eearif opened #29 "Failed to create directory PageObjectPatternAppium/target/cucumber-parallel"
when I am parallelly executing the cucumber tests ..
on 2 android devices..
but I can see the target folder with the cucumber-parallel is present ..

output.Parallel01IT: java.io.IOException: Failed to create directory
/PageObjectPatternAppium/target/cucumber-parallel

(node:681(node:9) fs6818) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, pleas

[2017-05-05 16:59] hemano opened #30 "I'm getting No runnable methods for cucumber run"
Running test file: output.Parallel01IT
Running test file: output.Parallel02IT
Running test file: output.Parallel03IT
initializationError(output.Parallel01IT): No runnable methods
initializationError(output.Parallel02IT): No runnable methods
initializationError(output.Parallel03IT): No runnable methods

config.properties

ANDROID_APP_PATH=/Users/hemantojha/parallel/PageObjectPatternAppium/build/wor

[2017-05-08 05:37] #30 closed

[2017-05-09 04:33] hemano opened #31 "Doesn't work with Scenario Outline: Example"
FAILED: feature(Booking confirmation asfasdfsdjhkjhk)
        Runs Cucumber Feature
java.lang.NullPointerException
        at com.cucumber.listener.ExtentCucumberFormatter.step(ExtentCucumberFormatter.java:244)
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at sun.reflect.Delega

[2017-05-09 13:00] hemano opened #32 "Can we use TestNg @DataProvider for parallel execution with different set of data?"

[2017-05-09 13:10] saikrishna321 commented on #32
@hemano haven't tried ... give it a try n tell me

[2017-05-09 15:07] hemano commented on #32
I tried it..

Objective: I want to run a single test with multiple set of data in distributed fashion.
keeping the
FRAMEWORK=testng
RUNNER=distribute
[code]

Output logs

https://gist.github.com/hemano/08a122dc90ff7c8dde469855171908c7

[2017-05-09 15:08] hemano commented on #31
Had it been tested to work with Scenario Outline and Example?

[2017-05-09 15:10] hemano commented on #32
@saikrishna321 Am I doing it correctly?

[2017-05-10 07:36] hemano commented on #31
@saikrishna321 Any opinions

[2017-05-10 08:04] saikrishna321 commented on #31
@hemano will look into this

[2017-05-10 09:40] hemano commented on #31
@saikrishna321 Thanks

[2017-05-10 10:12] saikrishna321 commented on #32
@hemano this needs a fix from the framework .. will work on it

[2017-05-11 12:32] benz-philip commented on #15
Plugin execution not covered by lifecycle configuration: com.github.saikrishna321:cucumber-jvm-parallel-plugin:2.0.9:generateRunners (execution: generateRunners, phase:
 validate)

getting this error. please revert

[2017-05-11 13:09] benz-philip opened #33 "Plugin execution not covered by lifecycle configuration: com.github.saikrishna321:cucumber-jvm-parallel-plugin:2.0.9:generateRunners (execution: generateRunners, phase: generate-test- sources)"
May I know how to resolve the below issue?

![screen shot 2017-05-11 at 5 03 29 pm](https://cloud.githubusercontent.com/assets/18724283/25950601/86a5ed14-366c-11e7-9907-b6d789ac8cd8.png)

[2017-05-11 13:57] saikrishna321 commented on #33
this eclipse issue ... use intellji

[2017-05-11 18:40] hemano commented on #32
Thanks @saikrishna321, if you could give some hint on possible cause then I might try to solve it.

[2017-05-14 04:42] benz-philip commented on #33
Sure Sai. Thank you very much for your support!

[2017-05-14 11:34] benz-philip commented on #33
I ignored the error and its working fine now

[2017-05-14 11:34] #33 closed

[2017-05-25 13:15] hemano opened #34 "Appium's IosDriver does not support xcode version 8.3.2"
@saikrishna321 Please help as it's a show stopper for now.

Do I need to downgrade the xcode and appium version according to this article?
 @https://github.com/saikrishna321/AppiumTestDistribution/wiki/Prerequisites

Mac Sierra
Xcode: 8.3.2
iPhone real device: 10.3.1

Possible Cause of failure:
[iOS] SessionNotCreatedError: A new session could not be created. Details: Appium's IosDriver does not s

[2017-05-25 14:01] saikrishna321 commented on #34
You just need to add Automation Name as XCUI in capabilities

[2017-06-08 10:44] Jaivir opened #35 "Getting Below Mention Issue Pls help here"
I am trying to find out the package which is mention in error but didn't get it. pls help here

Adding iOS devices
java.io.IOException: Cannot run program "adb": error=2, No such file or directory
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)
	at java.lang.Runtime.exec(Runtime.java:620)
	at java.lang.Runtime.exec(Runtime.java:450)
	at java.lang.Runtime.exec(Runtime.java:347)
	at com

[2017-06-09 09:42] hemano commented on #28
@saikrishna321 I'm also facing the same problem. From where do I get the APPIUM_JS_PATH on windows?

[2017-06-09 10:32] saikrishna321 commented on #28
inside the node_modules you should see appium

[2017-06-27 13:41] hemano commented on #35
you must be running on windows machine.
can I know which version of plugin you're using?

[2017-06-27 13:41] #34 closed

[2017-06-27 16:19] saikrishna321 commented on #35
@hemano Pls try with master

https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/pom.xml#L26

[2017-06-28 07:19] oceason opened #36 "when i run this project hint me nullPointException"
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
java.lang.NullPointerException
        at com.appium.manager.DeviceAllocationManager.initializeDevices(DeviceAllocationManager.java:41)
        at com.appium.manager.DeviceAllocationManager.<init>(DeviceAllocationManager.java:27)

[2017-06-28 17:39] saikrishna321 commented on #36
@oceason make sure you have Platform="android" mvn clean -Dtest=Runner test

[2017-07-03 14:42] sunilpatro1985 opened #37 "How can I use android.json file instead of writing capabilities in code"
Instead of writing capabilities one by one in code before initialising the appiumdriver, can I have keep all capabilities in a json file as I see under caps/android.json and call the android.json into the code instead writing
[code]

[2017-07-03 14:43] saikrishna321 commented on #37
@sunilpatro1985 you can just place all the caps as in android.json, the framework will consider and build the DesiredCapabilities for you.

[2017-07-03 14:48] sunilpatro1985 commented on #37
Thanks for responding, to more understand the framework can you please let me know which file or code block call the json file.

[2017-07-03 15:55] saikrishna321 commented on #37
https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/utils/DesiredCapabilityBuilder.java

[2017-07-04 06:44] #37 closed

[2017-07-06 13:20] 99heitor commented on #36
I have the same issue. I'm also running the correct command.

[2017-07-06 16:24] saikrishna321 commented on #36
@99heitor  can you pls try with below version

[code]

[2017-07-06 18:04] VenkateshPS opened #38 "Error while running tests."
Hi Sai,

I cloned your project and tried running tests, I get below error, moreover I don't see Appium driver getting created.

Where are you creating driver.

    public static AppiumDriver getDriver() {
        return (AppiumDriver)appiumDriver.get();
    }

does not seems to returning driver.

Running TestSuite
Configuring TestNG with: TestNG652Configurator
Tests run: 8, Failures: 8, Errors: 0,

[2017-07-07 02:29] saikrishna321 commented on #38
can u pls mention how r u running it ?

[2017-07-07 02:36] VenkateshPS commented on #38
I did **mvn clean compile install**from command line, also ran from Intelij IDE by right click run LoginTest.java

[2017-07-07 08:23] saikrishna321 commented on #38
@VenkateshPS pls run Platform="android" mvn clean -Dtest=Runner test

[2017-07-07 09:37] VenkateshPS commented on #38
@saikrishna321  it works, if you don't mind can you talk a little about the flow.
How is driver getting created?
Appium server starts in same command line.
How do you run tests from IDE or testng.xml

are you there on Skype?

[2017-07-07 09:41] VenkateshPS opened #39 "running tests on iOS"
I guess below is the typing mistake in documentaion.
To Run the TestNG test on iOS

* Platorm="android" mvn clean -Dtest=Runner test

[2017-07-07 10:15] saikrishna321 commented on #39
Done... Thanks @VenkateshPS

[2017-07-07 10:15] #39 closed

[2017-07-07 10:17] saikrishna321 commented on #38
@VenkateshPS you can join the slack channel

https://join.slack.com/appiumtestparallel/shared_invite/MjA5NTQ4NDkwNTgzLTE0OTkzNDM5NzYtYTY1M2UwNDZhNA

[2017-07-07 10:17] #38 closed

[2017-07-13 11:28] hemano commented on #28
Thanks, below path works for me.
C:/Users/<username>/AppData/Roaming/npm/node_modules/appium/build/lib/main.js

[2017-07-13 11:33] hemano opened #40 "Windows configuration for wiki"
Would you like to  update
https://github.com/saikrishna321/AppiumTestDistribution/wiki/Configure-tests-for-TestNG

for Windows configuration as well?
## For appium 1.6.X users (If appium installed using npm)
APPIUM_JS_PATH=C:/Users/<username>/AppData/Roaming/npm/node_modules/appium/build/lib/main.js

[2017-07-13 16:44] #28 closed

[2017-07-13 19:31] Akulavenkatesh opened #41 "iOS Wordpress app not working - outdated"
When I try to login with my Wordpress credentials in iOS Wordpress app it shows an error message
"Sorry, we can't log you in. The required "client_id" parameter is missing."

screenshot attached for you reference

<img width="363" alt="screen shot 2017-07-14 at 12 55 21 am" src="https://user-images.githubusercontent.com/1756744/28184183-f6087aa6-682f-11e7-8c2f-b61ce650a17f.png">

[2017-07-15 15:25] saikrishna321 commented on #40
@hemano i have not worked on windows tests implementation, if you have welcome for PR

[2017-07-15 15:29] saikrishna321 commented on #41
@Akulavenkatesh  the iOS app has been bundled with specific login credentials ID(wpcom_app_credentials) which means it will not work your personal credentials

[2017-07-15 15:29] #41 closed

[2017-07-20 13:26] Dupleks commented on #36
I changed artifact version and now it works for me. Thanks

[2017-07-20 13:29] #36 closed

[2017-07-21 15:36] oceason commented on #36
THX I'll try it

[2017-07-27 11:16] prbale opened #42 "Getting below issue. Please help."
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
java.lang.NullPointerException
        at com.appium.manager.DeviceAllocationManager.initializeDevices(DeviceAllocationManager.java:40)
        at com.appium.manager.DeviceAllocationManager.<init>(DeviceAllocationManager.java:27)
        at com.appium.manager.DeviceAllocationManager.getInstance(DeviceAllocationManager.j

[2017-07-27 13:45] saikrishna321 commented on #42
Platform="andriod" mvn clean -Dtest=Runner test

this should fix

[2017-07-28 11:46] prbale opened #43 "Regarding AWS device farm"
Can you please let me know whether you have tried this code on AWS device farm ?

If yes, have you uploaded under appium TestNG section ?
I am using your BDD project for reference. And facing issues while uploading on AWS device farm.

Error: Can not set io.appium.java_client.MobileElement field com.appium.page.objects.LoginPageObjects.username to org.openqa.selenium.remote.RemoteWebElement$$Enhan

[2017-07-28 12:08] saikrishna321 commented on #43
@prbale no i have  not tried with aws farm

[2017-08-13 06:09] saikrishna321 opened #44 "Fix tests w.r.t to new Wordpress application"

[2017-08-13 06:12] saikrishna321 commented on #40
@hemano  i have updated

[2017-08-13 06:12] #40 closed

[2017-08-13 06:12] saikrishna321 commented on #42
@prbale has this fixed ?

[2017-08-14 08:10] rahul-bhiwagade opened #45 "ClassNotFoundException for cucumber reporting.."
I have done all the setting to run cucumber test cases via
Platform=android mvn clean -Dtest=RunnerCukes test

I keep getting below error message please help me understand how to resolve this..

 T E S T S
-------------------------------------------------------
Running com.appium.steps.RunnerCukes
Configuring TestNG with: TestNG652Configurator
Adding all android devices: 192.168.62.101:5555
Adding

[2017-08-23 12:44] qafarabi commented on #45
@saikrishna321

[2017-08-23 15:59] saikrishna321 commented on #45
let me reproduce it from my side ...

[2017-08-24 13:42] saikrishna321 commented on #45
@rahul-bhiwagade @qafarabi Can reproduce the issue ??? Can you pls raise on the AppiumTestDistribution repo.

[2017-08-24 13:42] #45 closed